@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #70FF00;
    --secondary: #131313;
    --third: #363636;
}
.articles-list{
    width: 100%;
    padding: 10px 25px;
    margin-top: 10px;
    height: 100%;
    background: var(--secondary);
    border-radius: 20px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    overflow: auto;
  }
  .articles-list .table td img{
    height: 100%;
    width: 120px;
    border-radius: 15px;
  }
  .actions{
    display: flex;
    align-items: center;
    gap:10px;
    height: 100%;
  }
  .table td{
    padding: 7px 10px;
  }