@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #70FF00;
    --secondary: #131313;
    --third: #131313;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background: rgb(0, 0, 0);
    background: linear-gradient(133deg, rgba(0, 0, 0, 1) 0%, rgba(39, 39, 39, 1) 55%, rgba(114, 114, 114, 1) 100%);
}

html {
    scroll-behavior: smooth;
}

.logo {
    font-size: 50px;
    color: var(--primary);
}

.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15%;
}

#nav-container {
    display: flex;
    align-items: center;
    gap: 45%;
}

.home {
    padding-left: 6%;
    padding-top: 2%;
    padding-right: 3%;
    width: 88%;
}

.social-medias {
    display: flex;
    gap: 5%;
}

.social-medias .linkedIn,
.social-medias .Github {
    display: flex;
    align-items: center;
    gap: 10%;
}

.social-medias .linkedIn p,
.social-medias .Github p {
    font-size: 18px;
    color: white;
}

.links {
    color: white;
    display: flex;
    gap: 20%;
}

.links a {
    font-size: 18px;
    font-weight: 600;
}

.buttons {
    display: flex;
    gap: 15px;
}

.linkedIn .icon, .Github .icon {
    font-size: 30px;
    color: white;
}

.buttons button {
    background-color: transparent;
    padding: 12px 45px;
    border-radius: 15px;
    background-color: var(--third);
    color: white;
    font-weight: 800;
}

.button-container {
    padding: 3px;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(46, 255, 0, 1) 100%);
}

.icons {
    display: none;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.landing-page{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin-top: 8%;
}


.left h5{
    color: white;
    font-size: 17px;
    margin-bottom: 18px;
}

.left h1{
    color: var(--primary);
    width: 44%;
    font-size: 40px;
    margin-bottom: 30px;
}

.left h2{
    color: white;
    font-size: 39px;
    margin-bottom: 30px;
}

.experiences {
    display: flex;
    gap: 7%;
}

.experiences .experience, .experiences .projects{
    display: flex;
    gap: 10%;
    align-items: center;
}

.experiences .experience .number, .experiences .projects .number{
    font-size: 52px;
    color: #828282;
}

.experiences .experience p, .experiences .projects p{
    color: #828282;
    font-size: medium;
    width: 50%;
}

.right {
    width: 400px;
    height: 400px;
}

.right img {
    width: 100%;
    height: auto; 
    max-width: 100%;
    max-height: 100%; 
}

.about{
    padding-left: 6%;
    padding-right: 3%;
    width: 88%;
    margin-top: 10%;
}
.about h1, .skills h1{
    color: var(--primary);
    font-size: 35px;
} 

.content{
    align-items: center;
    display: flex;
    gap: 10%;
}
.content p{
    color: white;
    font-size: 17px;
    width: 60%;
    height: 78%;
}
.content .avatar{
    width: 470px;
}
.content img{
    max-width: 100%;
    height: auto;
}
.head{
    display: flex;
}
.head .blacket{
    color: white;
}

.skills{
    padding-left: 6%;
    padding-right: 3%;
    width: 100%;
    margin-top: 6%;
    background-color: #161616;
    padding-top: 4%;
    padding-bottom: 5%;
}

.skill{
    display: flex;
    gap: 5%;
    margin-top: 5%;
}
.skill img {
    width: 90px;
    height: auto;
}
@media only screen and (max-width: 600px) {
    .icons {
        display: block;
        font-size: 70px;
    }

    .nav-bar {
        justify-content: space-between;
    }

    .nav-container-responsive {
        top: 9.5%;
        position: fixed;
        flex-direction: column;
        width: 94%;
        gap: 15px; 
        transition: 0.3s;
        background-color: var(--secondary);
        height: 100%;
        left: 0;
        width: 100%;
        padding-top: 10%;
        background-color: #828282;
    }
    #nav-container {
        top: 9.5%;
        position: fixed;
        flex-direction: column;
        width: 94%;
        gap: 15px; 
        transition: 0.3s;
        background-color: var(--secondary);
        height: 100%;
        width: 100%;
        padding-top: 10%;
        background-color: #70FF00;
    }
    
.social-medias .linkedIn p,
.social-medias .Github p {
    font-size: 50px;
}

.linkedIn .icon, .Github .icon {
    font-size: 60px;
}
    .nav-container .active{
        left: 0;
    }
    .logo {
        font-size: 92px;
    }

    .links,.social-medias, .buttons {
        flex-direction: column;
        gap: 15px;
    }

    .links a {
        font-size: 50px;
        font-weight: 400;
    }
    .buttons button {
        padding: 24px 135px;
        font-weight: 800;
        font-size: 20px;
    }
}
